{{ define "main" }}


<section id="home">
  <div class="intro">
    <p></p>
  <p>Welcome to phil-azar.com. If you're looking for <a href="https://philazar.com" target="_blank">auto insurance</a>, I'm sorry to inform you that you're already disappointed.</p> 
  
<p>For email updates, subscribe to my substack. For twitter updates of famous Phils, follow <a href="https://www.twitter.com/PhiloftheDay" target="_blank">Phil of The Day.</a> Both are culturally important.</p>
  <br>
  <br>
  </div>
  <div class="border">
  <h3>Most Recent Stuff</h3>
  <div class="row">
        <ul>
          {{ range $index, $page := first 3 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
          <div class="column">
          <li {{if eq $index 0}}class="first"{{end}}>
            <h4><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h4> 
            {{ partial "aside" . }}
            <p><small>{{ .Description }}</small></p>
            {{ if .Truncated }}
            {{ end }}
          </li>
          </div>
          {{ end }}
        </ul>
        </div>
        </div>
      </section>

{{ end }}
